/*
1: 3/3/2018
	when we decrease the width of the browser window,
		the width approaches the crossover point into the mobile mode,
			the labels in the buttons go outside of the div....
1: make is so the button's height decreases as the width of the screen decreases 
*/

/******************************* Dimension dependent styles ******************************************/
/* big screen */
@media(min-width: 1001px)
{	
	.budge-sub2{	font-size: 200%;	}

	.catagory-container
	{
		display: -webkit-box;
		margin: 10px;
	}

	.catagory-box
	{
		line-height: 300px;
		font-size: 300%;
		transition-duration: 300ms;	
		margin: 5px;
	}

	.catagory-box:hover
	{
		background-color: burlywood;
		opacity: 1.0;
		text-shadow: 4px 4px 4px rgb(95, 95, 95);
		font-size: 400%;
	}
}

/* medium screen */
@media(min-width: 401px) and (max-width: 1000px)
{
	.budge-sub2{	font-size: 200%;	}

	.catagory-container
	{
		line-height: 300px;
		font-size: 200%;
		display: -webkit-box;/* 3/32018 for now ... */
		margin: 10px;
	}

	.catagory-box
	{
		line-height: 300px;
		font-size: 150%;
		transition-duration: 300ms;
		margin: 5px;
	}

	.catagory-box:hover
	{
		background-color: burlywood;
		opacity: 1.0;
		text-shadow: 4px 4px 4px rgb(95, 95, 95);
		font-size: 200%;
	}
}
@media(max-width: 400px)	/* small screen */
{
	.budge-sub2{	font-size: 175%;	}

	.catagory-container{	display: block;	}

	.catagory-box
	{
		line-height: 100px;
		font-size: 300%;
		-webkit-box-align: stretch;	/* stretches to fill empty vertical space */
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
	}

	.catagory-box:hover
	{
		background-color: burlywood;
		opacity: 1.0;
		text-shadow: 4px 4px 4px rgb(95, 95, 95);
	}
}
/******************************* end of Dimension dependent styles ******************************************/



/******************************** Universal styles ***********************************************/
body
{
	background: url(../Images/Backgrounds/index.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title-container
{

	background-color: lightyellow;	
	max-width: 500px;
	margin: auto;	
	border: thick black solid;
}

.budge-title, .budge-sub1, .budge-sub2, .catagory-box{	text-align: center;	}

.budge-title{	font-size: 325%;	}
.budge-sub1{	font-size: 250%;	}

.title-container, .catagory-container{	opacity: 0.7;	}

.catagory-container
{
	-webkit-box-align: stretch;	/* stretches to fill empty vertical space */
	-webkit-box-pack: justify;
	height: 300px;
}

.catagory-box
{
	-webkit-box-flex: 1;
		width: 100%;				/* enforces equal widths */
		background-color: bisque;
		opacity: 0.9;
		
}

.title-container, .catagory-box
{
	
	border-radius: 25px;
	overflow: visible;
	-webkit-overflow-scrolling: touch;	
	text-shadow: 4px 4px 4px #aaa;
}
/******************************** end of Universal styles ***********************************************/