body
{
	margin:10px 100px;
}

header.audio-fades-header, footer.audio-fades-footer, header.posts-header, footer.posts-footer
{
	/* this works but the content under neat does not clip to it */
	/*position: fixed;*/

	background-color: lightyellow;
	border-radius: 25px;
	opacity: 0.9;
	padding: 10px 30px;
	text-shadow: 4px 4px 4px #aaa;
}

header, section, footer, .catagory-box
{
	font-family: 'Ubuntu', sans-serif;
}
