
/******************************* Dimension Dependent Styles ****************************************/
/* big screen */
@media(min-width: 1001px)
{
	body
	{
		/* first value is top and bottom,
			second is right and left	*/
		/* big screen width*/
		margin:10px 100px;			
	}

	header.audio-fades-header, footer.audio-fades-footer, header.posts-header, footer.posts-footer, header.tunes-header, footer.tunes-footer
	{
		padding: 10px 30px;
	}
}
/* medium screen */
@media(min-width: 401px) and (max-width: 1000px)
{
	body{	margin:10px 50px;	}

	header.audio-fades-header, footer.audio-fades-footer, header.posts-header, footer.posts-footer, header.tunes-header, footer.tunes-footer
	{
		padding: 10px 30px;
	}
}
/* small screen */
@media(max-width: 400px)	
{
	body{	margin:10px 10px;	}

	header.audio-fades-header, footer.audio-fades-footer, header.posts-header, footer.posts-footer, header.tunes-header, footer.tunes-footer
	{
		padding: 10px 10px;
	}
}
/******************************* end of Dimension Dependent Styles *****************************************/


/*************************************** Universal Styles ****************************************************/
header.audio-fades-header, footer.audio-fades-footer, header.posts-header, footer.posts-footer, header.tunes-header, footer.tunes-footer
{
	background-color: lightyellow;
	border-radius: 25px;
	opacity: 0.9;
	text-shadow: 4px 4px 4px #aaa;
	border: thick silver solid;
}

header, section, footer, .catagory-box{	font-family: 'Ubuntu', sans-serif;	}

.inline-li
{
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
}

a{	text-decoration: none;	}

a:hover{	text-decoration: underline;		}

footer
{
	font-size: 100%;
	transition-duration: 100ms;
}

footer:hover{	font-size: 105%;	}
/*************************************** End of Universal Styles ***************************************/
