body
{
    background: url(../Images/Backgrounds/posts.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

section
{
	padding:10px 100px ;
	background-color: bisque;
	background-clip: border-box;
    opacity: 0.6;
	border-radius: 25px 25px 25px 25px;
	transition-duration: 300ms;
	opacity: 0.6;
	font-size: 100%;
	transition-duration: 300ms;
}

section:hover
{
		opacity: 1.0;	
		font-size: 101%;
}