body
{
    background: url(../Images/Backgrounds/posts.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

@media(min-width: 1001px)/* big screen */
{
	section{	padding:10px 100px ;	}
}

@media(min-width: 401px) and (max-width: 1000px)/* medium screen */
{
	section{	padding:10px 50px ;	}
}

@media(max-width: 400px)	/* small screen */
{
	section{	padding:10px 10px ;	}
}

section
{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: bisque;
	background-clip: border-box;
    opacity: 0.6;
	border-radius: 25px 25px 25px 25px;
	transition-duration: 300ms;
	opacity: 0.6;
	font-size: 100%;
	transition-duration: 300ms;
}

section:hover
{
		opacity: 1.0;	
		font-size: 101%;
}