body
{
    background-color: rgb(238, 238, 238);   
    width: 8.5in;
    height: 11in;
    margin: 0 auto;  
}

#resume-body
{
    padding-top: 5px;
    padding-bottom: 5px;
}

main
{
    padding-left: 26%;
    font-family: 'Ubuntu', sans-serif;
}

#my-email{  color:inherit;  }

.section-rule{
    height: 2px;
    background-color:rgb(0, 0, 0);
    
}

/* an aside */
.left
{
    width: 25%;
    float: left;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(0, 0, 99), rgb(0, 0, 189));
}

#name
{
    margin-bottom: 2px;
    color: white;
}

#position
{
    margin-top: 1px;
    margin-bottom: 1px;
}

.aside-text{    margin-left: 5px;   }

#info-heading
{
    background-size: 300% 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 167), white);
    color: white;
    padding-left: 5px;
    margin-left: 0px;
    padding-top: 3px;
}

.info-subheading
{
   display: block; 
   color: white;
}

.info-subheading, .info-content{    padding-left: 5px;  }

#position, .info-content{   color: lightsteelblue;  }

.info-content
{
    font-size: 93%;
}

.skill-subheading{  color: white;   }

.skill-container, .skill-detail, .skill-subheading
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.skill-container
{
    background-color: rgb(0, 0, 90);
    height: 10px;
}

.skill-line
{
    background-color: white;
    height: 10px;
    background-image: linear-gradient(to right, gray, white);
}

.outstanding{   width: 100%;    }
.excellent{ width: 90%; }
.proficient{    width: 65%; }
.basic{ width: 50%; }

.skill-detail
{
    color: lightgrey;
    text-align: right;
    font-size: .80em;
}

.main-section-heading
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-section-heading, #degree, #summary-body
{
    padding-left: 10px;
}

.detail{    font-size: 92%; }

hr
{
    margin-left: 5px;
}

.outer-list
{
    padding-bottom: 7px;
}