/*
    1:  highlighting of song sections does not seem to take affect on the phone due to touch
            disable it for small screen sizes.
*/

body
{
	background: url(../Images/Backgrounds/tunes.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	/*margin:10px 100px;*/
}

@media(min-width: 1001px)/* big screen */
{
	section{	padding:10px 100px ;	}
}

@media(min-width: 401px) and (max-width: 1000px)/* medium screen */
{
	section{	padding:10px 50px ;	}
}

@media(max-width: 400px)	/* small screen */
{
	section{	padding:10px 10px ;	}
}

/* this is duplicated from the posts.css file */
section
{
	background-color: bisque;
	background-clip: border-box;
    opacity: 0.7;
    border-radius: 25px 25px 25px 25px;
    transition-duration: 300ms;
    font-size: 100%;
}

section:hover
{
    opacity: 1.0;
    font-size: 103%;
}

iframe
{
    -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.song-container
{
    text-shadow: 4px 4px 4px #aaa;
}